{% extends 'base.html.twig' %}

{% block title %}RecMarket | {{(app.request.locale == "en") ?  page.titleEn  :  page.title }} {% endblock %}

{% block body %}
{% include "page_head/page_head.html.twig" with {'page_name': (app.request.locale == "en") ?  page.titleEn  :  page.title } %}


<div  class="main_content">
    <div  class="section">
        <div  class="container">
          {{ (app.request.locale == "en") ?  page.contentEn | raw  :  page.content | raw  }}
              {# "raw" indicates that the content should be displayed as is #}
        </div>
    </div>
</div>


{% endblock %}
